@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}
* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}
.login-btn {
  border-radius: 29px;
  padding: 6px 16px;
  cursor: pointer;
 }
 .login-btn:hover{
  background-color: rgb(15, 15, 15);
   transform: translateY(2px) ; 
    box-shadow: 0 8px 20px rgba(91, 87, 87, 0.5);
    transition: background-color 0.6s ease,
            transform 0.6s ease,
            box-shadow 0.6s ease;
 }
.nav-btn li{
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.nav-btn li:hover{
    color: rgb(18, 18, 18);
    transform: scale(1.1);
 }
 .login-btn:hover{
    transform: translateY(-4px) scale(1.08);
}

.logo:hover{
  cursor: pointer;
  transform: scale(1.08);
  transition: 0.3s;
}
.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.hero h1 {
  font-weight: 800;
  line-height: 102px;
  font-size: 108px;
  
}
.hero p {
  font-weight: 600;
  color: var(--gray);
  max-width: 400px;
}

.hero-image:hover{
  transform: scale(1.35);
  transition: 0.5s ease;
  }

.hero-btn {
  display: flex;
  gap: 40px;
}
.hero-btn button {
  font-size: 22px;
  border-radius: 20px;
}

.hero-btn button:hover {
  transform: translateY(-4px) scale(1.08);
  transition: 0.3s;
}
.secondary-btn {
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
}

.shopping p {
  font-size: 14px;
  margin-bottom: 8px;
}
.brand-icons {
  display: flex;
  gap: 16px;
}

